@model QuanLyPhongTro.Models.ViewModels.SearchModel
@using QuanLyPhongTro.Models.Pagination;
@{
    string cookieValue = ViewBag.CookieValue;
    ViewData["AccountUser"] = cookieValue;
    int CountBooked = ViewBag.CountBooked;
    ViewData["CountBooked"] = CountBooked;
    int CountCustomer = ViewBag.CountCustomer;
    ViewData["CountCustomer"] = CountCustomer;
    int CountPartner = ViewBag.CountPartner;
    ViewData["CountPartner"] = CountPartner;
    int CountAccess = ViewBag.CountAccess;
    ViewData["CountAccess"] = CountAccess;

    string price = ViewBag.Price;
    ViewData["Price"] = price;


    ViewData["Action"] = "TopPoster";
    ViewData["Controller"] = "Search";

    Pager pager = new Pager();
    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurentPage;
    }

}

@section StyleCss {
    <link rel="stylesheet" href="~/css/ketquatimkiem.css" />
}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center app_body">
    <div class="row w-100 mw-1200">

        <!-- ===== Hộp tìm kiếm ====== -->

        @Html.Partial("SidebarHome")
        <!-- ===== List Destination ===== -->
        <div class="col-lg-9 col-md-12">
           
            <div class="list-destination d-flex flex-column w-100">
                <p class="title-search">@ViewData["Content"]</p>
                <div class="input-group arrangeBox">
                    <span class="input-group-text">
                        <span class="fa-solid fa-arrow-right-arrow-left"></span>
                    </span>
                    <select class="form-select choose-condition" id="validationCustom04" onchange="SortData(this)" required>
                        <option selected  value="0">Sắp xếp bài đăng</option>
                        <option value="1">Bài đăng mới nhất</option>
                        <option value="2">Phòng có giá cao nhất</option>
                    </select>

                </div>
                <div class="input-group arrangeBox m-0">
                    <div class="wrap_arrange d-flex w-100 flex-row">
                        <span class="input-group-text">
                            <i class="fas fa-filter" style="margin-right:8px;"></i>Bộ lọc
                        </span>

                        <div class="form-select dropdown choose-condition" style="margin-left:10px; width:100%;" id="formSelect">
                            <span class="dropbtn" id="statusname">Giá phòng</span>
                            <div class="dropdown-content flex-column justify-content-center align-items-center" id="formSelected">
                                <a asp-action="TopPoster" asp-controller="Search" asp-route-price="low">1 triệu - 5 triệu</a>
                                <a asp-action="TopPoster" asp-controller="Search" asp-route-price="medium">5 triệu - 10 triệu</a>
                                <a asp-action="TopPoster" asp-controller="Search" asp-route-price="hight">Trên 10 triệu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="renderPoster">
                    @* <span id="messageLoading">Vui lòng chờ...</span> *@
                @if (Model != null && Model.baiDangs != null)
                {
                    @foreach (var item in Model.baiDangs)
                    {
                        <div class="destination-item mt-30 d-flex flex-row">
                            <img src="~/imgUp/@item.PhongTro.Anh" alt="" class="destination-img">
                            <div class="destination--info">
                                <a href=""><h3 class="destination--title">@item.TieuDe</h3></a>
                                <p class="destination--posting-date">Ngày đăng: @item.NgayTao</p>
                                <p class="destination--price">Giá: @item.PhongTro.Gia VNĐ</p>
                                <p class="destination--content">
                                    @item.NoiDung
                                </p>
                            </div>
                            <div class="d-flex flex-column justify-content-between" style="width: 22%; margin-top: 12px;">
                                <ul style="list-style: none; padding: 0; color: #04AA6D; font-weight: 500;">
                                    <li><i class="fa-solid fa-check"></i> Miễn phí huỷ</li>
                                    <li><i class="fa-solid fa-check"></i> Thanh toán tại chỗ nghỉ</li>
                                </ul>
                                <a class="btn btn-primary" asp-route-id="@item.Id" asp-action="PosterDetail" asp-controller="Search" style="margin-bottom: 12px;">Xem phòng <i class="fa-solid fa-angle-right" style="font-size: 19px;"></i></a>

                            </div>
                        </div>
                    }
                }

                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Pagination", pager)
</div>

                                  

@section Scripts {
    <script>


        function getData(callback, obj) {
            // const url = "@Url.Action("GetPoster","Search")";
            var path = '/api/posters';
            var query = window.location.search;
            var url = path + query;
            // Call Ajax
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);

            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    var responseObject = JSON.parse(xhr.responseText);
                    console.log(responseObject);
                    callback(responseObject, obj);
                } else {
                    console.error("Request failed with status: " + xhr.status);
                }
            };

            xhr.onerror = function () {
                console.error("Request failed");
            };

            xhr.send();


        }

        function getHtml(arr) {
            var html = "";
            arr.map(val => {
                return html +=
                `
                <div class="destination-item mt-30 d-flex flex-row">
                        <img src="/imgUp/${val.anh}" alt="" class="destination-img">
                        <div class="destination--info">
                            <a href=""><h3 class="destination--title">${val.tieuDe}</h3></a>
                            <p class="destination--posting-date">Ngày đăng: ${val.ngayTao}</p>
                            <p class="destination--price">Giá:${val.gia} VNĐ</p>
                            <p class="destination--content">
                                ${val.noiDung}
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-between" style="width: 22%; margin-top: 12px;">
                            <ul style="list-style: none; padding: 0; color: #04AA6D; font-weight: 500;">
                                <li><i class="fa-solid fa-check"></i> Miễn phí huỷ</li>
                                <li><i class="fa-solid fa-check"></i> Thanh toán tại chỗ nghỉ</li>
                            </ul>
                            <a class="btn btn-primary" href="/Search/PosterDetail/${val.id}" style="margin-bottom: 12px;">Xem phòng <i class="fa-solid fa-angle-right" style="font-size: 19px;"></i></a>

                        </div>
                    </div>
                `
            })
            return html;
        }
        

        function SortPoster(res, obj) {
            console.log(res);
            console.log(obj.value);
            if (obj.value == 1) {
                res.sort(function (a, b) {
                    var dateA = new Date(a.ngayTao);
                    var dateB = new Date(b.ngayTao);
                    return dateB - dateA;
                });
                // res.map(val => {
                //     return html +=
                //     `
                //     <div class="destination-item mt-30 d-flex flex-row">
                //             <img src="/imgUp/${val.anh}" alt="" class="destination-img">
                //             <div class="destination--info">
                //                 <a href=""><h3 class="destination--title">${val.tieuDe}</h3></a>
                //                 <p class="destination--posting-date">Ngày đăng: ${val.ngayTao}</p>
                //                 <p class="destination--price">Giá:${val.gia} VNĐ</p>
                //                 <p class="destination--content">
                //                     ${val.noiDung}
                //                 </p>
                //             </div>
                //             <div class="d-flex flex-column justify-content-between" style="width: 22%; margin-top: 12px;">
                //                 <ul style="list-style: none; padding: 0; color: #04AA6D; font-weight: 500;">
                //                     <li><i class="fa-solid fa-check"></i> Miễn phí huỷ</li>
                //                     <li><i class="fa-solid fa-check"></i> Thanh toán tại chỗ nghỉ</li>
                //                 </ul>
                //                 <a class="btn btn-primary" asp-route-id="${val.id}" asp-action="PosterDetail" asp-controller="Search" style="margin-bottom: 12px;">Xem phòng <i class="fa-solid fa-angle-right" style="font-size: 19px;"></i></a>

                //             </div>
                //         </div>
                //     `
                // })
                // console.log(html);
                var html = getHtml(res);
                document.getElementById("renderPoster").innerHTML = html;
                // document.getElementById("messageLoading").style.display = "none";
            }
            if (obj.value == 2) {
                res.sort(function (a, b) {
                    return b.gia - a.gia;
                });
                var html = getHtml(res);
                document.getElementById("renderPoster").innerHTML = html;
            }
        }


        function SortData(obj) {
            getData(SortPoster, obj);
        }
    </script>

    <script>
        function validateForm() {
            var checkin = document.getElementById('checkInDate').value;
            var checkout = document.getElementById('checkOutDate').value;

            var date1 = new Date(checkin);
            var date2 = new Date(checkout);

            if (date1 > date2) {
                document.getElementById('error').innerText = "Ngày nhận không được lớn hơn ngày trả";

                return false;
            }
            return true;

        }
    </script>

    <script>
        var the1 = document.getElementById('formSelect');
        var the2 = document.getElementById('formSelected');

        the1.addEventListener('click', function () {
            the2.style.display = 'flex';
        });

        document.addEventListener('click', function (event) {
            // Kiểm tra xem sự kiện click có xuất phát từ #the1 hay không
            var isClickInsideThe1 = the1.contains(event.target);

            // Nếu click ra ngoài #the1, ẩn #the2
            if (!isClickInsideThe1) {
                the2.style.display = 'none';
            }
        });

        // Lấy URL hiện tại
        var currentUrl = document.location.search;

        // Tạo đối tượng URLSearchParams từ URL
        var urlSearchParams = new URLSearchParams(currentUrl);

        // Lấy giá trị của tham số 'status'
        var statusValue = urlSearchParams.get("price")
        if (statusValue != null && statusValue == "low") {
            document.getElementById("statusname").innerText = "1 triệu - 5 triệu";
        }
        else if (statusValue != null && statusValue == "medium") {
            document.getElementById("statusname").innerText = "5 triệu - 10 triệu";
        }
        else if (statusValue != null && statusValue == "hight") {
            document.getElementById("statusname").innerText = "Trên 10 triệu";
        }
    </script>

}


<style>
    /* Optional: Style for the dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .dropdown-content {
        position: absolute;
        display: none;
        background-color: #f9f9f9;
        top: 40px;
        left: 0;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        text-align: center;
    }

        .dropdown-content a {
            text-decoration: none;
            color: #000;
            width: 100%;
            padding: 8px 0
        }

            .dropdown-content a:hover {
                background-color: #ccc;
            }

</style>