@model QuanLyPhongTro.Models.ViewModels.SearchModel
@using QuanLyPhongTro.Models.Pagination;
@{
    string cookieValue = ViewBag.CookieValue;
    ViewData["AccountUser"] = cookieValue;
    int CountBooked = ViewBag.CountBooked;
    ViewData["CountBooked"] = CountBooked;
    int CountCustomer = ViewBag.CountCustomer;
    ViewData["CountCustomer"] = CountCustomer;
    int CountPartner = ViewBag.CountPartner;
    ViewData["CountPartner"] = CountPartner;
    int CountAccess = ViewBag.CountAccess;
    ViewData["CountAccess"] = CountAccess;


    ViewData["Action"] = "TopPoster";
    ViewData["Controller"] = "Search";

    Pager pager = new Pager();
    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurentPage;
    }

}

@section StyleCss {
    <link rel="stylesheet" href="~/css/ketquatimkiem.css" />
}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center app_body">
    <div class="row w-100 mw-1200">

        <!-- ===== Hộp tìm kiếm ====== -->

        @Html.Partial("SidebarHome")
        <!-- ===== List Destination ===== -->
        <div class="col-lg-9 col-md-12">
           
            <div class="list-destination d-flex flex-column w-100">
                <p class="title-search">@ViewData["Content"]</p>
                <div class="input-group arrangeBox">
                    <span class="input-group-text">
                        <span class="fa-solid fa-arrow-right-arrow-left"></span>
                    </span>
                    <select class="form-select choose-condition" id="validationCustom04" onchange="SortData(this)" required>
                        <option selected  value="0">Sắp xếp bài đăng</option>
                        <option value="1">Bài đăng mới nhất</option>
                        <option value="2">Phòng có giá cao nhất</option>
                    </select>

                </div>
                <div id="renderPoster">
                    @* <span id="messageLoading">Vui lòng chờ...</span> *@
                @if (Model != null)
                {
                    @foreach (var item in Model.baiDangs)
                    {
                        <div class="destination-item mt-30 d-flex flex-row">
                            <img src="~/imgUp/@item.PhongTro.Anh" alt="" class="destination-img">
                            <div class="destination--info">
                                <a href=""><h3 class="destination--title">@item.TieuDe</h3></a>
                                <p class="destination--posting-date">Ngày đăng: @item.NgayTao</p>
                                <p class="destination--price">Giá: @item.PhongTro.Gia VNĐ</p>
                                <p class="destination--content">
                                    @item.NoiDung
                                </p>
                            </div>
                            <div class="d-flex flex-column justify-content-between" style="width: 22%; margin-top: 12px;">
                                <ul style="list-style: none; padding: 0; color: #04AA6D; font-weight: 500;">
                                    <li><i class="fa-solid fa-check"></i> Miễn phí huỷ</li>
                                    <li><i class="fa-solid fa-check"></i> Thanh toán tại chỗ nghỉ</li>
                                </ul>
                                <a class="btn btn-primary" asp-route-id="@item.Id" asp-action="PosterDetail" asp-controller="Search" style="margin-bottom: 12px;">Xem phòng <i class="fa-solid fa-angle-right" style="font-size: 19px;"></i></a>

                            </div>
                        </div>
                    }
                }

                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Pagination", pager)
</div>

                                  

@section Scripts {
    <script>


        function getData(callback, obj) {
            // const url = "@Url.Action("GetPoster","Search")";
            var path = '/api/posters';
            var query = window.location.search;
            var url = path + query;
            // Call Ajax
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);

            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    var responseObject = JSON.parse(xhr.responseText);
                    console.log(responseObject);
                    callback(responseObject, obj);
                } else {
                    console.error("Request failed with status: " + xhr.status);
                }
            };

            xhr.onerror = function () {
                console.error("Request failed");
            };

            xhr.send();


        }

        function getHtml(arr) {
            var html = "";
            arr.map(val => {
                return html +=
                `
                <div class="destination-item mt-30 d-flex flex-row">
                        <img src="/imgUp/${val.anh}" alt="" class="destination-img">
                        <div class="destination--info">
                            <a href=""><h3 class="destination--title">${val.tieuDe}</h3></a>
                            <p class="destination--posting-date">Ngày đăng: ${val.ngayTao}</p>
                            <p class="destination--price">Giá:${val.gia} VNĐ</p>
                            <p class="destination--content">
                                ${val.noiDung}
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-between" style="width: 22%; margin-top: 12px;">
                            <ul style="list-style: none; padding: 0; color: #04AA6D; font-weight: 500;">
                                <li><i class="fa-solid fa-check"></i> Miễn phí huỷ</li>
                                <li><i class="fa-solid fa-check"></i> Thanh toán tại chỗ nghỉ</li>
                            </ul>
                            <a class="btn btn-primary" href="/Search/PosterDetail/${val.id}" style="margin-bottom: 12px;">Xem phòng <i class="fa-solid fa-angle-right" style="font-size: 19px;"></i></a>

                        </div>
                    </div>
                `
            })
            return html;
        }
        

        function SortPoster(res, obj) {
            console.log(res);
            console.log(obj.value);
            if (obj.value == 1) {
                res.sort(function (a, b) {
                    var dateA = new Date(a.ngayTao);
                    var dateB = new Date(b.ngayTao);
                    return dateB - dateA;
                });
                // res.map(val => {
                //     return html +=
                //     `
                //     <div class="destination-item mt-30 d-flex flex-row">
                //             <img src="/imgUp/${val.anh}" alt="" class="destination-img">
                //             <div class="destination--info">
                //                 <a href=""><h3 class="destination--title">${val.tieuDe}</h3></a>
                //                 <p class="destination--posting-date">Ngày đăng: ${val.ngayTao}</p>
                //                 <p class="destination--price">Giá:${val.gia} VNĐ</p>
                //                 <p class="destination--content">
                //                     ${val.noiDung}
                //                 </p>
                //             </div>
                //             <div class="d-flex flex-column justify-content-between" style="width: 22%; margin-top: 12px;">
                //                 <ul style="list-style: none; padding: 0; color: #04AA6D; font-weight: 500;">
                //                     <li><i class="fa-solid fa-check"></i> Miễn phí huỷ</li>
                //                     <li><i class="fa-solid fa-check"></i> Thanh toán tại chỗ nghỉ</li>
                //                 </ul>
                //                 <a class="btn btn-primary" asp-route-id="${val.id}" asp-action="PosterDetail" asp-controller="Search" style="margin-bottom: 12px;">Xem phòng <i class="fa-solid fa-angle-right" style="font-size: 19px;"></i></a>

                //             </div>
                //         </div>
                //     `
                // })
                // console.log(html);
                var html = getHtml(res);
                document.getElementById("renderPoster").innerHTML = html;
                // document.getElementById("messageLoading").style.display = "none";
            }
            if (obj.value == 2) {
                res.sort(function (a, b) {
                    return b.gia - a.gia;
                });
                var html = getHtml(res);
                document.getElementById("renderPoster").innerHTML = html;
            }
        }


        function SortData(obj) {
            getData(SortPoster, obj);
        }
    </script>

    <script>
        function validateForm() {
            var checkin = document.getElementById('checkInDate').value;
            var checkout = document.getElementById('checkOutDate').value;

            var date1 = new Date(checkin);
            var date2 = new Date(checkout);

            if (date1 > date2) {
                document.getElementById('error').innerText = "Ngày nhận không được lớn hơn ngày trả";

                return false;
            }
            return true;

        }
    </script>



}