@model QuanLyPhongTro.Models.ViewModels.Admin.UserManagerModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Tittle"] = "User list";
    string accountUser = ViewBag.CookieValue;
    ViewData["AccountUser"] = accountUser;
}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">USER LIST</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{route('admin.index')}}">Home</a></li>
            <li class="breadcrumb-item active">User</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      @* @if (session('msg'))
          <div class="alert alert-success">{{session('msg')}}</div>
      @endif *@
      <table class="table table-bordered">
        <thead class="row" style="display: table-row-group">
          <tr>
            <th class="col-1" scope="col">Id</th>
            <th class="col-2" scope="col">full_name</th>
            <th class="col-2" scope="col">email</th>
            <th class="col-2" scope="col">password</th>
            <th class="col-1" scope="col">phone</th>
            <th class="col-1" scope="col" >Sex</th>
            <th class="col-1" scope="col">Anh</th>
            <th class="col-2" scope="col">Option</th>

          </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Users != null)
            {
                    
                @foreach (var item in Model.Users)
                    {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.HoTen</td>
                        <td>@item.Email</td>
                        <td>@item.PasswordHash</td>
                        <td>@item.PhoneNumber</td>
                            @if(item.GioiTinh == 1)
                            {
                                <td >Nữ</td>
                            }
                            else
                            {
                                <td>Nam</td>
                            }
                            <td><img style="width:30px; height:30px;" src="~/imgUp/@item.Anh"/></td>
                        <td>
                            <a href="#" class="btn btn-primary mt-2">Edit</a>
                            <a href="#"  class="btn btn-danger mt-2 delete_user">Delete</a>
                        </td>
                    </tr>
                    }
            }
          
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center aligh-item-center">
      Pagination
    </div>
</div>
