@model QuanLyPhongTro.Models.ViewModels.Admin.BookedManagerModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Tittle"] = "Permission list";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">ROOM LIST</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a href="#" class="btn btn-primary mr-3" style="color: #FFF;"><i class="fa-solid fa-plus"></i></a>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="DashBoard">Home</a></li>
                    <li class="breadcrumb-item active">Permission</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="border: 1px solid #ccc;">
        <div class="row d-flex align-items-center p-2">
            <i class="fa-solid fa-list m-2"></i>
            <h4 class="mb-0 ml-2">LIST</h4>
        </div>
        @*  @if (session('msg'))
        <div class="alert alert-success">{{session('msg')}}</div>
        @endif *@
        <table class="table table-bordered">
            <thead class="row" style="display: table-row-group">
                <tr>
                    <th class="col-1" scope="col">ID</th>
                    <th class="col-2" scope="col">Province</th>
                    <th class="col-2" scope="col">Address</th>
                    <th class="col-2" scope="col">Checkin</th>
                    <th class="col-2" scope="col">Checkout</th>
                    <th class="col-1" scope="col">Price</th>
                    <th class="col-1" scope="col">Acreage</th>
                    <th class="col-1" scope="col">Hided</th>
                    <th class="col-1" scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.chiTietDatPhongs != null)
                {

                    @foreach (var item in Model.chiTietDatPhongs)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.PhongTro.TinhThanh.TenTinh</td>
                            <td>@item.PhongTro.DiaChi</td>
                            <td>@item.ThoiGianBD</td>
                            <td>@item.ThoiGianKT</td>
                            <td>@item.PhongTro.Gia</td>
                            <td>@item.PhongTro.DienTich</td>
                            <td>@item.flag</td>
                            <td>
                                <a href="#" class="btn btn-primary mt-2">Edit</a>
                                <a href="#" class="btn btn-danger mt-2 delete_user">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>