@model QuanLyPhongTro.Models.ViewModels.HomeModel.HomeInput
@{
    ViewData["Title"] = "Home Page";
}
@{
    string cookieValue = ViewBag.CookieValue;
    ViewData["AccountUser"] = cookieValue;
    int CountBooked = ViewBag.CountBooked;
    ViewData["CountBooked"] = CountBooked;
    int CountCustomer = ViewBag.CountCustomer;
    ViewData["CountCustomer"] = CountCustomer;
    int CountPartner = ViewBag.CountPartner;
    ViewData["CountPartner"] = CountPartner;
    int CountAccess = ViewBag.CountAccess;
    ViewData["CountAccess"] = CountAccess;

}

@section StyleCss {
    <link rel="stylesheet" href="~/css/trangchu.css">
}

<div class="container-fluid main d-flex justify-content-center align-items-center" style="background: url(https://www.luxstay.me/wp-content/uploads/2018/05/bg-action.jpeg); background-size: cover; background-repeat: no-repeat;">
    <div class="banner-search d-flex justify-content-center align-items-center">
        <form asp-action="SearchHome" asp-controller="Home" method="get" class="d-flex flex-column w-100">
            <input type="text" placeholder="Bạn muốn thuê phòng ở đâu?" name="searchName" class="search-input" />
            <input type="submit" value="Tìm kiếm" class="search-submit">
        </form>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-column align-items-center">
    <div class="row text-center">
        <span class="main-content">Mới cập nhật</span>
    </div>
    <div class="row mw-1200 w-100">
        aaaa
        @if (User.IsInRole("Client"))
        {
            <p>Quyền admin</p>
        }
        @if(Model != null && Model.baiDangs != null)
        {
            @foreach(var item in Model.baiDangs)
            {
                <div class="col-lg-4  col-md-6">
                    <a asp-action="PosterDetail" asp-controller="Search" asp-route-id="@item.Id" style="text-decoration: none; color: #000;">
                        <div class="info-img d-flex flex-column">
                            <div class="w-100 info-img--css" style="background-image: url('@Url.Content("~/imgUp/" + @item.PhongTro.Anh)'); border-radius: 6px;">
                            </div>
                            <span>@item.TieuDe</span>
                            <p style="font-size: 18px;"> @item.PhongTro.TinhThanh.TenTinh <br> @item.NgayTao</p>
                            <p style="color: #f05637; font-size: 20px; font-weight: 600;">Giá tốt: @item.PhongTro.Gia VND</p>
                        </div>
                    </a>
                </div>
            }
        }
        
        
    </div>
    <div class="row text-center">
        <span class="main-content"><a asp-action="TopPoster" asp-controller="Search">Xem thêm</a></span>
    </div>
</div>