@model QuanLyPhongTro.Models.ViewModels.HomeModel.HomeInput
@{
    ViewData["Title"] = "Home Page";
}
@{
    string cookieValue = ViewBag.CookieValue;
    ViewData["AccountUser"] = cookieValue;
    int CountBooked = ViewBag.CountBooked;
    ViewData["CountBooked"] = CountBooked;
    int CountCustomer = ViewBag.CountCustomer;
    ViewData["CountCustomer"] = CountCustomer;
    int CountPartner = ViewBag.CountPartner;
    ViewData["CountPartner"] = CountPartner;
    int CountAccess = ViewBag.CountAccess;
    ViewData["CountAccess"] = CountAccess;

}

@section StyleCss {
    <link rel="stylesheet" href="~/css/trangchu.css">
}

<div class="container-fluid main d-flex justify-content-center align-items-center" style="background: url(https://www.luxstay.me/wp-content/uploads/2018/05/bg-action.jpeg); background-size: cover; background-repeat: no-repeat;">
    <div class="banner-search d-flex justify-content-center align-items-center">
        <form asp-action="SearchHome" asp-controller="Home" method="get" class="d-flex flex-column w-100">
            <div class="search-input w-100 p-0 m-0 position-relative">
                <input type="text" autocomplete="off" placeholder="Bạn muốn thuê phòng ở đâu?"  name="searchName" id="searchName" class="search-input w-100" />
                <div class="position-absolute" style="top: 54px; width: 100%;" >
                    <div id="result">

                    </div>
                </div>

            </div>
            <input type="submit" value="Tìm kiếm" class="search-submit">
        </form>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center flex-column align-items-center">
    <div class="row text-center">
        <span class="main-content">Mới cập nhật</span>
    </div>
    <div class="row mw-1200 w-100">
        
        @if(Model != null && Model.baiDangs != null)
        {
            @foreach(var item in Model.baiDangs)
            {
                <div class="col-lg-4  col-md-6">
                    <a asp-action="PosterDetail" asp-controller="Search" asp-route-id="@item.Id" style="text-decoration: none; color: #000;">
                        <div class="info-img d-flex flex-column">
                            <div class="w-100 info-img--css" style="background-image: url('@Url.Content("~/imgUp/" + @item.PhongTro.Anh)'); border-radius: 6px;">
                            </div>
                            <span>@item.TieuDe</span>
                            <p style="font-size: 18px;"> @item.PhongTro.TinhThanh.TenTinh <br> @item.NgayTao</p>
                            <p style="color: #f05637; font-size: 20px; font-weight: 600;">Giá tốt: @item.PhongTro.Gia VND</p>
                        </div>
                    </a>
                </div>
            }
        }
        
        
    </div>
    <div class="row text-center">
        <span class="main-content"><a asp-action="TopPoster" asp-controller="Search">Xem thêm</a></span>
    </div>
</div>

@section Scripts {
    <script>
        $("#searchName").on("input",function (e) {
            var valueInput = $(this).val();
            console.log(valueInput,"name");
            $.ajax({
                type: "GET",
                url: "@Url.Action("LiveSearch", "Home")",
                data: { searchName: valueInput },
                datatype: "html",
                success: function (data) {
                    // console.log(data, "thang");
                    const resultElement = document.getElementById('result');
                    var html = "";
                    data.map((val) => {
                        console.log(val, "thang2");
                       return html += `
                        <div class="" style="background-color: #fff; padding: 10px; ">
                            <a class="d-flex align-items-center position-relative" href="/Search/PosterDetail/${val.id}" style="text-decoration: none; color: #000;">
                                <img src="/imgUp/${val.anh}" style="width:64px; heigh:50px;" />
                                <div class="d-flex flex-column justify-content-center w-100" style="margin-left:10px;">
                                    <span style="color: #0d6efd; font-weight: 500;" >${val.tieuDe}</span>
                                    <span style="color: #000; font-weight: 400;" >93 bùi xương trạch</span>
                                    <p class="destination--content" style="padding:0px; margin:0px; color: #676b6f;">${val.noiDung}</p>
                                </div>
                                <span style="color: red; position: absolute; top:0; right:0;">${val.gia} VND</span>
                            </a>
                        </div>
                        `

                    });
                    resultElement.innerHTML = html;
                }
            });
        });
    </script>
}